.management-button {
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px rgba(0.7, 0.7, 0.7, 0.8);
}

.management-button:active {
    box-shadow: 0 0 10px rgba(0.3, 0.3, 0.3, 0.4);
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

    .main-container .table-striped {
        border: 1px solid #375;
        width: 500px;
        box-shadow: 0 0 10px rgba(0.7, 0.7, 0.7, 0.8);
    }

        .main-container .table-striped th,
        .main-container .table-striped td {
            text-align: center;
            padding: 10px;
            border: 1px solid #375;
        }

td img {
    cursor: pointer;
}

.table-label {
    margin-top: 50px;
    margin-bottom: 20px;
}